APP_PORT=8080
DB_DSN=postgres://payment_gateway:payment_gateway@localhost:5432/payment_gateway?sslmode=disable
LOG_LEVEL=debug

NIUBIZ_USER=xxx
NIUBIZ_PASSWORD=yyy
NIUBIZ_BASE_URL=https://apisandbox.vnforappstest.com